{% load static %}
<section id="about" class="about">
    <div class="about-container">
        <h2 class="about-title">À PROPOS DE MOI</h2>

        <div class="about-frame">
            <div class="about-content">
                <div class="about-text">
                    <h3>Sérieuse, motivée et toujours en quête de progrès!</h3>
                    <p>
                        Je m'appelle Thanh Uyen NGUYEN (vous pouvez m'appeler simplement <span>Uyen</span>).
                        J'ai 22 ans.
                        Actuellement en fin de troisième année de BUT Informatique, parcours
                        Développement d’applications à l’IUT de Créteil–Vitry.
                        Je suis à la recherche d'une alternance pour septembre 2026.
                    </p>
                </div>

                <div class="about-image">
                    <img src="{% static 'images/photo2.png' %}" alt="Photo About">
                </div>
            </div>
        </div>
    </div>
</section>
