{% load static %}
<section id="competences" class="competences">
    <div class="competences-container">
        <h2 class="competences-title">MES COMPÉTENCES TECHNIQUES</h2>
        <p class="competences-subtitle">
            Un panorama complet de mes expertises en développement
        </p>

        <div class="skills-dashboard">
            <!-- Langages de programmation principaux -->
            <div class="skills-category">
                <h3 class="category-title">
                    <img src="{% static 'images/code.png' %}" alt="Code" class="category-logo2">
                    Langages de Programmation
                </h3>
                <div class="skills-grid">
                    <div class="skill-card">
                        <div class="logo-container">
                            <img src="{% static 'images/python.png' %}" alt="Python" class="skill-logo">
                        </div>
                        <h4>Python</h4>
                    </div>
                    
                    <div class="skill-card">
                        <div class="logo-container">
                            <img src="{% static 'images/c.png' %}" alt="C" class="skill-logo2">
                        </div>
                        <h4>C</h4>
                    </div>
                    
                    <div class="skill-card">
                        <div class="logo-container">
                            <img src="{% static 'images/c#.png' %}" alt="C#" class="skill-logo2">
                        </div>
                        <h4>C#</h4>
                    </div>

                    <div class="skill-card">
                        <div class="logo-container">
                            <img src="{% static 'images/java.png' %}" alt="Java" class="skill-logo">
                        </div>
                        <h4>Java</h4>
                    </div>

                    <div class="skill-card">
                        <div class="logo-container">
                            <img src="{% static 'images/bash.png' %}" alt="Bash" class="skill-logo">
                        </div>
                        <h4>Bash</h4>
                    </div>
                </div>
            </div>
        

            <!-- Stack Web -->
            <div class="skills-category">
                <h3 class="category-title">
                    <img src="{% static 'images/web.png' %}" alt="web" class="category-logo">
                    Développement Web
                </h3>
                
                <div class="dev-web-container">
                    <!-- FRONTEND -->
                    <div class="category-card">
                        <h4>Frontend</h4>
                        <div class="category-list">
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/html.png' %}" alt="HTML" class="tech-logo">
                                </div>
                                <span class="tech-name">HTML</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/css.png' %}" alt="CSS" class="tech-logo">
                                </div>
                                <span class="tech-name">CSS</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/js.png' %}" alt="JavaScript" class="tech-logo">
                                </div>
                                <span class="tech-name">JavaScript</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/react.png' %}" alt="React" class="tech-logo">
                                </div>
                                <span class="tech-name">React</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/angular.png' %}" alt="Angular" class="tech-logo">
                                </div>
                                <span class="tech-name">Angular</span>
                            </div>
                        </div>
                    </div>

                    <div class="vertical-divider"></div>

                    <!-- BACKEND -->
                    <div class="category-card">
                        <h4>Backend</h4>
                        <div class="category-list">
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/flask.png' %}" alt="Flask" class="tech-logo">
                                </div>
                                <span class="tech-name">Flask</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/django.svg' %}" alt="Django" class="tech-logo">
                                </div>
                                <span class="tech-name">Django</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/php.png' %}" alt="PHP" class="tech-logo">
                                </div>
                                <span class="tech-name">PHP</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/nodejs.png' %}" alt="Node.js" class="tech-logo">
                                </div>
                                <span class="tech-name">Node.js</span>
                            </div>
                            
                            <div class="tech-card">
                                <div class="tech-logo-container">
                                    <img src="{% static 'images/springboot.png' %}" alt="Spring Boot" class="tech-logo">
                                </div>
                                <span class="tech-name">Spring Boot</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DevOps & Cloud -->
            <div class="skills-category">
                <h3 class="category-title">
                    <img src="{% static 'images/outils.png' %}" alt="Outils" class="category-logo">
                    DevOps & Cloud
                </h3>
                <div class="skills-grid compact">
                    <div class="skill-pill">
                        <img src="{% static 'images/docker.png' %}" alt="Docker" class="outil-logo">
                        <span>Docker</span>
                    </div>
                    <div class="skill-pill">
                        <img src="{% static 'images/githubactions.png' %}" alt="GithubActions" class="outil-logo">
                        <span>GitHub Actions</span>
                    </div>
                    <div class="skill-pill">
                        <img src="{% static 'images/terraform.png' %}" alt="Terraform" class="outil-logo">
                        <span>Terraform</span>
                    </div>
                    <div class="skill-pill">
                        <img src="{% static 'images/ansible.png' %}" alt="ANSIBLE" class="outil-logo">
                        <span>Ansible</span>
                    </div>
                    <div class="skill-pill">
                        <img src="{% static 'images/aws.png' %}" alt="AWS" class="outil-logo2">
                        <span>AWS</span>
                    </div>
                </div>
            </div>

            <!-- Bases de données -->
            <div class="skills-category">
                <h3 class="category-title">
                    <img src="{% static 'images/base-de-donnees.png' %}" alt="BD" class="category-logo">
                    Bases de Données
                </h3>
                <div class="skills-tags">
                    <span class="skill-tag sql">SQL</span>
                    <span class="skill-tag">MySQL</span>
                    <span class="skill-tag">PostgresSQL</span>
                    <span class="skill-tag">MariaDB</span>
                </div>
                <div class="skills-tags">
                    <span class="skill-tag nosql">NoSQL</span>
                    <span class="skill-tag">MongoDB</span>
                    <span class="skill-tag">Neo4j</span>
                    <span class="skill-tag">Redis</span>
                </div>
            </div>
        </div>
    </div>
</section>