{% load static %}
<header class="navbar">
    <div class="logo">Uyen</div>

    <!-- Menu desktop -->
    <ul class="nav-menu">
        <li><a href="#accueil">Accueil</a></li>
        <li><a href="#about">À propos</a></li>
        <li><a href="#parcours">Parcours</a></li>
        <li><a href="#competences">Compétences</a></li>
        <li><a href="#projets">Projets</a></li>
        <li><a href="#experiences">Expériences</a></li>
    </ul>

    <!-- Bouton Contact -->
    <a href="#contact" class="contact-btn">Contact</a>

    <!-- Hamburger -->
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<!-- Overlay -->
<div class="mobile-overlay"></div>

<!-- Menu mobile -->
<div class="mobile-menu">
    <ul>
        <li><a href="#accueil">Accueil</a></li>
        <li><a href="#about">À propos</a></li>
        <li><a href="#parcours">Parcours</a></li>
        <li><a href="#competences">Compétences</a></li>
        <li><a href="#projets">Projets</a></li>
        <li><a href="#experiences">Expériences</a></li>
        <li><a href="#contact" class="mobile-contact-btn">Contact</a></li>
    </ul>
</div>
