{% load static %}
<section id="accueil" class="hero">
    <div class="hero-container">
        <h1>Bienvenue sur mon portfolio!</h1>

        <div class="hero-frame">
            <div class="hero-content">
                <div class="hero-image">
                    <img src="{% static 'images/photo1.png' %}" alt="Photo Uyen">
                </div>

                <div class="hero-text">
                    <p>
                        Bienvenue dans mon portfolio web, un espace conçu pour 
                        mieux me connaître. Vous y découvrirez mon parcours, 
                        mes compétences, mes expériences et mes réalisations à 
                        travers une présentation claire et interactive.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
